extends ../_template

block variables
   - var page = 'smm';

block content
   .smm-what
      .container-rel
         h2.title.-bg Что такое SMM
         h4.title.-sm Продвижение бренда в социальных сетях
         img(src="assets/img/smm/inst/instagram-screenshots.png", alt="").smm-what__image
         .smm-what__mobile-content
            a(href="").smm-what__inst-link
               img(src="assets/img/smm/inst/instagram-screenshot_1.png", alt="").smm-what__inst-photo
            a(href="").smm-what__inst-link
               img(src="assets/img/smm/inst/instagram-screenshot_2.png", alt="").smm-what__inst-photo
            a(href="").smm-what__inst-link
               img(src="assets/img/smm/inst/instagram-screenshot_1.png", alt="").smm-what__inst-photo
            a(href="").smm-what__inst-link
               img(src="assets/img/smm/inst/instagram-screenshot_2.png", alt="").smm-what__inst-photo
         object(type="image/svg+xml" data="assets/img/ov-w.svg").bg-circle.-smm-what
   .smm-instagram
      .container-rel
         h2.title.-bg кому подходит инстаграм
         .smm-instagram__list
            -
               var instList = [
                  'Интернет–магазины',
                  'Индустрия красоты',
                  'Развлечения',
                  'Личный PR',
                  'Ректораны и кафе',
                  'Фитнес и здоровье',
                  'Образование',
                  'Недвижимость'
               ]
            - var instListCount = 0
            each a in [1, 2]
               .smm-instagram__list-row
                  each b in [1, 2]
                     .smm-instagram__list-group
                        each c in [1, 2]
                           .smm-instagram__list-col
                              .smm-instagram__item
                                 +svgMix('svg-icon -smm-instagram','inst-icon_' + (instListCount+1))
                                 p.smm-instagram__item-name= instList[instListCount]
                                 - instListCount++
         object(type="image/svg+xml" data="assets/img/ov-gb.svg").bg-circle.-smm-inst
   .smm-task.-bg-w
      .container-rel
         h2.title.-bg Какие задачи решает SMM
         .smm-task__list
            .smm-task__list-wrap
               -
                  var smmTasks = [
                     {name: ['Управляет ', 'репутацией бренда'],
                        desc: 'SMM формирует у аудитории образ компании, который нужен Вам'},
                     {name: ['Повышает лояльность ', 'аудитории к бренду'],
                        desc: 'Присутствие в соц. сетях повышает уровень доверия клиентов к бренду'},
                     {name: null},
                     {name: null},
                     {name: ['Рекламирует акции ', 'и события компании'],
                        desc: 'Компания контактирует с клиентом в привычной для него среде'},
                     {name: ['Реализует ', 'лидогенерацию'],
                        desc: 'Качественный SMM приводит к Вам новых заинтересованных клиентов'}
                  ]
                  var  _key = 1
               each item in smmTasks
                  - if(item.name === null)
                     .smm-task__item.-empty
                  - else
                     .smm-task__item
                        +svgMix('svg-icon -smm-task', 'task-icon_' + _key)
                        p.smm-task__item-name
                           each text, key in item.name
                              - if (key == 0)
                                 = text
                              - else
                                 br
                                 = text
                        p.smm-task__item-desc= item.desc
                        - _key++
         object(type="image/svg+xml" data="assets/img/ov-lg.svg").bg-circle.-smm-task-head
         object(type="image/svg+xml" data="assets/img/ov-lg.svg").bg-circle.-smm-task-foot
   .smm-plus
      .container-rel
         h2.title.-bg преимущества работы с нами
         .smm-plus__wrap
            .smm-plus__area-left
               .smm-plus__detail
                  .smm-plus__detail-naming
                     +svgMix('svg-icon -smm-detail', 'adv-icon_1')
                     p.smm-plus__detail-name Экспертность
                  ul.smm-plus__detail-list
                     li.smm-plus__detail-plus Отслеживаем эффективность каждого объявления
                     li.smm-plus__detail-plus Используем систему сквозной аналитики
                     li.smm-plus__detail-plus Мы ориентируемся на конкретные цели
                     li.smm-plus__detail-plus Измеряемые результаты работы
                  button(data-target="consult").btn-gradient.-long.-copy Получи консультацию бесплатно
            .smm-plus__area-right
               .smm-plus__list
                  -
                     var plus = [
                        'Понятность',
                        'Минимум участия со стороны заказчика',
                        'Под ключ',
                        'Уникальный контент'
                     ]
                  each item, key in plus
                     .smm-plus__item
                        +svgMix('svg-icon -smm-plus', 'adv-icon_' + (key + 2))
                        p.smm-plus__item-name= item
            button(data-target="consult").btn-gradient.-long Получи консультацию 
               span.-hidden бесплатно
         object(type="image/svg+xml" data="assets/img/ov-w.svg").bg-circle.-smm-plus-head
         object(type="image/svg+xml" data="assets/img/ov-or.svg").bg-circle.-smm-plus-left
   .our-work
      .container-rel
         h2.title.-bg как мы работаем
         -
            var steps = [
               {
                  name: 'аналитика и проектирование',
                  team: 'Проектировщик, Дизайнер, Аналитик',
                  process: [
                     {
                        title: 'Вход',
                        list: ['Концепция','Анализ целевой аудитории','Анализ конкурентов']
                     },
                     {
                        title: 'Процесс',
                        list: ['Сценарии поведения пользователей','Разработка структуры','Юзабилити тестирование']
                     },
                     {
                        title: 'Результат',
                        list: ['Интерактивный прототип']
                     }
                  ],
                  tech: 'Adobe Photoshop, Sketch, Invision App',
                  techLinks: ['Ps', 'Sk', 'In']
               },
               {
                  name: 'визуальный дизайн',
                  team: 'Дизайнер, Проектировщик, Аналитик',
                  process: [
                     {
                        title: 'Вход',
                        list: ['Концепция','Интерактивный прототип','Материалы клиента']
                     },
                     {
                        title: 'Процесс',
                        list: ['Концепция дизайна','Разработка дизайна']
                     },
                     {
                        title: 'Результат',
                        list: ['Макеты экранов','Интерактивный прототип','Кейс проекта']
                     }
                  ],
                  tech: 'Adobe Photoshop, Adobe Illustrator, After Effects, Sketch, Invision App',
                  techLinks: ['Ps','Ai','Ae','Sk','In']
               },
               {
                  name: 'разработка и поддержка',
                  team: 'Дизайнер, Frontend−разработчик, Программист, Тестировщик',
                  process: [
                     {
                        title: 'Вход',
                        list: ['Макеты экранов','Интерактивный прототип']
                     },
                     {
                        title: 'Процесс',
                        list: ['Техническое проектирование','Адаптивная верстка','Разработка модулей', 'Настройка CMS', 'Тестирование и отладка']
                     },
                     {
                        title: 'Результат',
                        list: ['Веб−сайт','API','Административная панель']
                     }
                  ],
                  tech: 'VS Code, Gulp, Git, Zepplin',
                  techLinks: ['Vs', 'Gu', 'Gt', 'Zp']
               },
            ]

         .our-work__step-list
            each item, key in steps
               .our-work__step
                  .our-work__step-wrap
                     .our-work__step-title-box
                        .our-work__step-count= key+1
                        p.our-work__step-title= item.name
                     .our-work__step-content
                        .our-work__step-team-wrap
                           span.our-work__step-team-mark Участники
                           p.our-work__step-team= item.team
                        .our-work__step-process-wrap
                           each i in item.process
                              .our-work__step-process
                                 p.our-work__step-process-title= i.title
                                 ul.our-work__step-process-list
                                    each j in i.list
                                       li.our-work__step-process-item= j
                        .our-work__step-tech-wrap
                           p.our-work__step-tech-title Технологии
                           p.our-work__step-tech= item.tech
                           .our-work__step-tech-list
                              each i in item.techLinks
                                 .our-work__step-tech-item= i
         object(type="image/svg+xml" data="assets/img/ov-ed.svg").bg-circle.-smm-work
   .service-packages
      .container-rel
         h2.title.-bg пакеты услуг
         .service-packages__list
            .service-packages__list-wrap
               -
                  var services = [
                     {
                        title: 'старт', price: '10.000',
                        list: ['Аудит аккаунта', 'Генерирование контента', 'Оформление страницы', 'Коммуникация с аудиторией']
                     },
                     {
                        title: 'БИЗНЕС', price: '25.000',
                        list: ['Анализ ситуации', 'Выявление проблем позиционирования бренда', 'Формирование контент–стратегии и характера коммуникации с аудиторией', 'Разработка контент–плана, полное ведение профиля', 'Генерирование контента', 'Проведение фото и видесъемок', 'Работа с лидерами мнений', 'Модерация сообщества', 'Оформление страницы', 'Коммуникация с аудиторией', 'Рост числа подписчиков']
                     },
                     {
                        title: 'СТАНДАРТ', price: '15.000',
                        list: ['Аудит аккаунта', 'Разработка контент–плана, полное ведение профиля', 'Генерирование контента', 'Проведение фото и видесъемок', 'Модерация сообщества', 'Оформление страницы', 'Коммуникация с аудиторией', 'Рост числа подписчиков']
                     }
                  ]
               each item, key in services
                  .pillar
                     .pillar__head
                        p.pillar__name= item.title
                        ul.pillar__list
                           each item2 in item.list
                              li.pillar__item= item2
                     .pillar__foot
                        p.pillar__price= item.price
                        - if (key == 1)
                           button.btn-gradient.-dark Хочу этот пакет
                        - else
                           button.btn-gradient.-blue Хочу этот пакет
         //- object(type="image/svg+xml" data="assets/img/ov-lg.svg").bg-circle.-smm-serv-head
         object(type="image/svg+xml" data="assets/img/smm/circle-fade.png").bg-circle.-smm-serv-foot
   .targeting-ads
      .container-rel.-big
         .container-rel
            h2.title.-bg настройка таргетированной рекламы
            .targeting-ads__list
               .targeting-ads__list-wrap
                  -
                     var adds = [
                        {
                           title: 'старт', target: 'охват', price: '5.000',
                           list: ['Запуск 3-4 промо-постов (для охвата своих подписчиков)', 'Таргетирование по возрасту и географическому положению', 'Отслеживание результатов рекламы', 'Отслеживание взаимодействия пользователей с объявлением, коммуникация']
                        },
                        {
                           title: 'БИЗНЕС', target: 'лидогенерация', price: '13.000',
                           list: ['Площадки для размещения объявления: общая лента Instagram/Stories', 'Запуск кампании через рекламный кабинет Facebook', 'Проработка демографиии, интересов, географического положения аудитории для точечного таргетирования', 'Разработка и согласование креативов', 'Создание лид–формы', 'Написание цепляющего текста', 'Тестирование объявлений', 'Отслеживание результатов рекламы, внесение корректировок']
                        },
                        {
                           title: 'СТАНДАРТ', target: 'вовлеченность', price: '8.000',
                           list: ['Площадки для размещения объявления: общая лента Instagram/Stories', 'Запуск кампании через рекламный кабинет Facebook', 'Таргетирование по возрасту и географическому положению', 'Разработка креативов', 'Написание цепляющего текста', 'Тестирование объявлений', 'Отслеживание результатов рекламы, внесение корректировок', 'Отслеживание взаимодействия пользователей с объявлениями, коммуникация']
                        }
                     ]
                  each item, key in adds
                     .pillar
                        .pillar__head
                           p.pillar__name= item.title
                           span.pillar__target= 'Цель: '+item.target
                           ul.pillar__list
                              each item2 in item.list
                                 li.pillar__item= item2
                        .pillar__foot
                           p.pillar__price= item.price
                              span  + бюджет
                           - if (key == 1)
                              button.btn-gradient.-dark Хочу этот пакет
                           - else
                              button.btn-gradient.-blue Хочу этот пакет
         //-    object(type="image/svg+xml" data="assets/img/smm/circle-fade.png").bg-circle.-smm-ads-head
         object(type="image/svg+xml" data="assets/img/ov-lg.svg").bg-circle.-smm-ads-foot